<%- include('../partials/header') %>

<div class="col-sm-6">
    <div class="well">
        <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

        <% if (user.google.token) { %>
            <p>
                <strong>name</strong>: <%= User.name %><br>
                <strong>email</strong>: <%= User.email %><br>
                <strong>googleId</strong>: <%= User.googleId %><br>
            </p>
            <a href="/unlink/google" class="btn btn-danger">Unlink</a>
        <% } else { %>
            <a href="/connect/google" class="btn btn-danger">Connect Google</a>
        <% } %>

    </div>
</div>
</div>