<%- include('../partials/header') %>

<body>
  <!-- hero image -->
  <section id="hero">
      <div class="hero-container">
        <h1>Plants make people happy</h1>
        <h2>Take yours with you</h2>
        <a href="/views/users/dashboard.ejs" class="btn-get-started">Get Started</a>
      </div>
    </section>
    <!-- #hero -->
  
</body>

</html>